<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hash Game</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>

        <div id='app'>
          <input class="signup" v-model="playerName" aria-placeholder="Name">
          <button @click="start()" class="btn">play</button>      
        </div>
      
      </main>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script setup type="module" src="/js/Client.js"></script>
</html>