* {margin: 0; padding: 0;}

main {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.board {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    /* background-image: url("pngwing.com.png"); */
}
.board button {
    background-color: transparent;
    width: 20vh;
    height: 20vh;
}

.square-x {
    background-image: url("x.svg");
}

.square-o {
    background-image: url("circle.svg");
}

