@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

/* board css */

* {margin: 0; padding: 0;}

main {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.board {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    /* background-image: url("pngwing.com.png"); */
}
.board button {
    background-color: transparent;
    width: 20vh;
    height: 20vh;
}

.square-x {
    background-image: url("x.svg");
}

.square-o {
    background-image: url("circle.svg");
}


